<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Socket name="logstash" host="localhost" port="7000">
            <SerializedLayout />
        </Socket>
        <Console name="local">
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="logstash"/>
            <AppenderRef ref="local" />
        </Root>
    </Loggers>
</Configuration>